<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="keywords" content="HTML XHTML" />
    <meta name="keywords" content="Grape news ucdgrapenews" />
    <!--<meta http-equiv="Content-Security-Policy" content="default-src 'self' data: gap: https://ssl.gstatic.com 'unsafe-eval'; style-src 'self' 'unsafe-inline'; media-src *;**script-src 'self' http://onlineerp.solution.quebec 'unsafe-inline' 'unsafe-eval';** ">-->
    <title>Automated news aggregator
    </title>
    <!--<link title="timeline-styles" rel="stylesheet" href="https://cdn.knightlab.com/libs/timeline3/latest/css/timeline.css">-->
    <link title="timeline-styles" rel="stylesheet" href=<%= htmlWebpackPlugin.options.path %>timeline/timeline.css>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Yanone+Kaffeesatz|Sedgwick+Ave" rel="stylesheet">
    <link rel = "Shortcut Icon" href="static/gicon%20.ico">
  </head>
  <body>
    <!--<script src="https://cdn.knightlab.com/libs/timeline3/latest/js/timeline.js"></script>-->
    <script src=<%= htmlWebpackPlugin.options.path %>timeline/timeline.js></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <div id="app"></div>
    <!-- built files will be auto injected -->
  </body>
</html>
